.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin: 0px 300px 30px;
    border-radius: 5px;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    margin: 0px 250px 30px;
    border-radius: 5px;

}


@media screen and (max-width:920px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
  
    }

   
}



